<div class="stores-new-bg">
	<div class="stores-new-card">
		<h1 class="text-light pb-2">Editing Store</h1>
		<%= render 'form', store: @store %>
		<%= link_to 'Show', @store,class:"btn btn-outline-light" %>
		<%= link_to 'Back', stores_path,class:"btn btn-outline-dark" %>
	</div>
</div>






