<div class="stores-new-bg">
	<div class="stores-new-card">
		<h1 class="mb-4 text-light">New Store</h1>

		<%= render 'form', store: @store %>

		<%= link_to 'Back', stores_path,class:"btn btn-outline-secondary" %>
	</div>
</div>
