<div class="card-details-bg">
  <div class="card-details-card text-warning">
	<p class="text-light text-center"><%= flash[:notice]%></p>

	<h1>Thank you for shopping with us!</h1><br />
		
	<h5>your order has been processed.</h5><br />

	<h5>A detailed email has been sent.</h5><br />

	<a href="/gallery/index" class="btn btn-outline-info">Click here to continue the shopping</a>
</div>
</div>