// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.admin-login-bg{
	overflow:auto;
	background-image:url("https://images.unsplash.com/photo-1477346611705-65d1883cee1e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80");
	height:100vh;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	background-size:cover;
}
.admin-login-card{
	width:500px;
	background-color:#ffffff5;
	padding:30px;
	border:1px solid #ffffff;
	border-radius:20px;
}
.cart-head{
	color:#46e3e8;
}
.total-font{
	font-weight:bold;
	color:orange;
}

.continue-shop-button{
	margin-top:10px;
	margin-bottom:10px;
	background-color:yellow;
	color:white;
	padding-left:20px;
	text-decoration:none;
	border:1px solid black;
	border-radius:3px;
	width:180px;
	height:32px;
}